@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 214 17% 16%;
    --foreground: 0 0% 98%;
    --card: 215 19% 20%;
    --card-foreground: 0 0% 98%;
    --popover: 215 19% 16%;
    --popover-foreground: 0 0% 98%;
    --primary: 180 50% 54%;
    --primary-foreground: 215 19% 10%;
    --secondary: 215 19% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 215 19% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 16 100% 66%;
    --accent-foreground: 215 19% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 19% 25%;
    --input: 215 19% 25%;
    --ring: 180 50% 54%;
    --radius: 0.5rem;
  }

  .light {
    --background: 0 0% 100%;
    --foreground: 214 17% 16%;
    --card: 0 0% 100%;
    --card-foreground: 214 17% 16%;
    --popover: 0 0% 100%;
    --popover-foreground: 214 17% 16%;
    --primary: 180 50% 54%;
    --primary-foreground: 215 19% 10%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 214 17% 16%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 16 100% 66%;
    --accent-foreground: 215 19% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 180 50% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
