
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 210 40% 98%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 220.9 39.3% 11%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 217.9 10.6% 64.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 34.9% 92.1%;
    --radius: 0.5rem;

    --chart-1: 220.9 39.3% 11%;
    --chart-2: 215 27.9% 16.9%;
    --chart-3: 217.9 10.6% 64.9%;
    --chart-4: 210 20% 98%;
    --chart-5: 216 34.9% 92.1%;
  }

  .light {
    --background: 210 20% 98%;
    --foreground: 220.9 39.3% 11%;

    --card: 220.9 39.3% 11%;
    --card-foreground: 210 20% 98%;

    --popover: 210 20% 98%;
    --popover-foreground: 220.9 39.3% 11%;

    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;

    --secondary: 210 20% 98%;
    --secondary-foreground: 220.9 39.3% 11%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 217.9 10.6% 64.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 220.9 39.3% 11%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background-color: #020418;
  }
}

@layer utilities {
  .glass-card {
    @apply bg-clip-padding backdrop-filter backdrop-blur-xl bg-opacity-60 border border-gray-200;
  }
}
